@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  color: #fff;
  background-color: black;
  /* text-align: center; */
}

.body1 {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 30px;
  color: white;
  position: relative;
  z-index: 1;
}
